/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.3128)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [TIA]
GO
/****** Object:  StoredProcedure [dbo].[SP_TIA_21_ARTICLES_INSERT_FROM_ORDERS]    Script Date: 04.09.2017 17:51:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_TIA_21_ARTICLES_INSERT_FROM_ORDERS]
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRANSACTION
	
	/* 
	 * Add old style master data with records from IN_AUFPOS. (There are orders with very old colourways (before SS13) which do not exist in WP Model.)
	 */

	/*
	 * IN_ARTIKEL
	 */
	INSERT INTO IN_ARTIKEL ( ATYPO0, ATYPO1, ATYPO2, ATYPO3, TYPO1, bezTypo01, TYPO2, bezTypo02, TYPO3, bezTypo03, TYPO4, bezTypo04, TYPO5, bezTypo05, TYPO6, bezTypo06, TYPO7, bezTypo07, TYPO8, bezTypo08, TYPO9, bezTypo09, ATYPO_BEZEICHNUNG1, ATYPO_BEZEICHNUNG2, ATYPO_BEZEICHNUNG3, MODELL_BEZEICHNUNG1, MODELL_BEZEICHNUNG2, MODELL_BEZEICHNUNG3, NACHFOLGER_ATYPO0, NACHFOLGER_ATYPO1, NACHFOLGER_ATYPO2, NACHFOLGER_ATYPO3, INFO1, bezInfo1, INFO2, bezInfo2, INFO3, bezInfo3, INFO4, bezInfo4, INFO5, bezInfo5, INFO6, bezInfo6, INFO7, bezInfo7, INFO8, bezInfo8, INFO9, bezInfo9, ARTIKELART, MODELL_NR, STAT_EINHEIT, VERKAUFS_EINHEIT, VERKAUFS_MENGE, VOLUMEN )
	SELECT DISTINCT
		p.ATYPO0, p.ATYPO1, p.ATYPO2, p.ATYPO3,
		TYPO1, bezTypo01, TYPO2, bezTypo02, TYPO3, bezTypo03, TYPO4, bezTypo04, TYPO5, bezTypo05, TYPO6, bezTypo06, TYPO7, bezTypo07, TYPO8, bezTypo08, TYPO9, bezTypo09, ATYPO_BEZEICHNUNG1, 
		SUBSTRING(c.Name, 1, 30) AS ATYPO_BEZEICHNUNG2, 
		ATYPO_BEZEICHNUNG3, MODELL_BEZEICHNUNG1, MODELL_BEZEICHNUNG2, MODELL_BEZEICHNUNG3, NACHFOLGER_ATYPO0, NACHFOLGER_ATYPO1, NACHFOLGER_ATYPO2, NACHFOLGER_ATYPO3, INFO1, bezInfo1, INFO2, bezInfo2, INFO3, bezInfo3, INFO4, bezInfo4, INFO5, bezInfo5, INFO6, bezInfo6, INFO7, bezInfo7, INFO8, bezInfo8, INFO9, bezInfo9, ARTIKELART, MODELL_NR, STAT_EINHEIT, VERKAUFS_EINHEIT, VERKAUFS_MENGE, VOLUMEN
	FROM 
		IN_AUFPOS p
		JOIN IN_ARTIKEL a ON a.ATYPO1 = p.ATYPO1
		JOIN [CHHUNSVPDM6\PDM].prod.dbo.V_ADM_COLOUR c ON c.Number = p.ATYPO2
	WHERE 
		NOT EXISTS ( SELECT * FROM IN_ARTIKEL t WHERE t.ATYPO1 = p.ATYPO1 AND t.ATYPO2 = p.ATYPO2 )

	
	/*
	 * IN_VART
	 */	
	INSERT INTO IN_VART ( VTYPO1, VTYPO2, VTYPO3, ATYPO0, ATYPO1, ATYPO2, ATYPO3, ERST_ANGEBOTSTERMIN, ERSTLIEFER_TERMIN, AKTUELLIEFER_TERMIN, AUSLAUF_TERMIN, REFAR_VTYPO1, REFAR_VTYPO2, REFAR_VTYPO3, REFAR_ATYPO0, REFAR_ATYPO1, REFAR_ATYPO2, REFAR_ATYPO3, AE_PROZENT, KZ_ABC, KZ_AD_DISPO, FILLER1, FILLER2, PREIS1, PREIS2, PREIS3, KZ_DISPONENT, KZ_PLANER, GRGANG, KZ_PSEUDO, K_EINKAUFER, MINDEST_BESTELL_MENGE, MIN_BESTELL_MENGE_MODEL )
	SELECT
		'OI', NULL, NULL, IN_ARTIKEL.ATYPO0, IN_ARTIKEL.ATYPO1, IN_ARTIKEL.ATYPO2, IN_ARTIKEL.ATYPO3, NULL,
		'20121201' AS ERSTLIEFER_TERMIN,
		NULL,
		'20130101' AS AUSLAUF_TERMIN,
		NULL, NULL, NULL, NULL, NULL, NULL, 
		NULL, 100, NULL, 'A', NULL, NULL, NULL, NULL, NULL, NULL, NULL,
		(SELECT DISTINCT GRGANG FROM IN_VART WHERE ATYPO1 = IN_ARTIKEL.ATYPO1) AS GRGANG,
		NULL, NULL, 0, 0
	FROM
		IN_ARTIKEL
		LEFT JOIN IN_VART ON IN_VART.ATYPO1 = IN_ARTIKEL.ATYPO1 AND IN_VART.ATYPO2 = IN_ARTIKEL.ATYPO2
	WHERE
		IN_VART.ATYPO1 IS NULL -- this gets us all the missing records in IN_VART


	/*
	 * IN_ZVART
	 */	
	INSERT INTO IN_ZVART ( ZTYPO1, ZTYPO2, season, ZTYPO3, VTYPO1, VTYPO2, VTYPO3, ATYPO0, ATYPO1, ATYPO2, ATYPO3, KZ_DISPO, KZ_PROGNOSE_ART, KZ_ASTATUS, KZ_RANGED_CMS, NO_PROZENT, ZVINFO1, ZVINFO2, ZVINFO3, ZVINFO4, ZVINFO5, ZVINFO6, ZVINFO7, ZVINFO8, ZVINFO9 )
	SELECT DISTINCT
		p.ZTYPO1
		,p.ZTYPO2
		,p.aufkkey -- needed in ODERS_CLEAN_UP to join with IN_AUFPOS
		,NULL, 'OI', NULL, NULL, NULL
		,p.ATYPO1
		,p.ATYPO2
		,NULL
		,'L' AS KZ_DISPO
		,'B' AS KZ_PROGNOSE_ART -- default value
		,1 AS KZ_ASTATUS -- the article from an order, therefore it must be active in this season
		,'Y' AS KZ_RANGED_CMS -- default value
		,NULL AS NO_PROZENT
		,'Y' AS ZVINFO1 -- carry over
		,'N' --TODO: herausfinden, ob es hier eine regel bei leftovers gibt CASE WHEN ArtFarben.StandardJN = '20' THEN 'Y' ELSE 'N' END AS ZVINFO2 -- Stock Item	
		,'N' AS ZVINFO3 -- NOS
		,'N' AS ZVINFO4 -- ISO
		,NULL, NULL, NULL, NULL, NULL
	FROM 
		IN_AUFPOS p
		JOIN IN_ARTIKEL a ON a.ATYPO1 = p.ATYPO1 AND a.ATYPO2 = p.ATYPO2
		LEFT JOIN IN_ZVART zva ON zva.ATYPO1 = p.ATYPO1 AND zva.ATYPO2 = p.ATYPO2 AND zva.ZTYPO1 = p.ZTYPO1 AND zva.ZTYPO2 = p.ZTYPO2

	WHERE
		zva.ATYPO1 IS NULL -- this gets us all the missing records in IN_ZVART
		
	/*
	 * IN_VARTGR
	 */
	INSERT INTO IN_VARTGR (	VTYPO1, VTYPO2, VTYPO3, ATYPO0, ATYPO1, ATYPO2, ATYPO3, TECH_INDEX, gr, ggnr, START_TERMIN_GR, AUSLAUF_TERMIN_GR, GR_STATUS, GRSL_MAN, LB_FREI, RESERVIERUNGEN, RUECKSTAND, MINDESTBESTAND, MAXIMALBESTAND, FILLER1, FILLER2, FILLER3, ZIEL_RW, WBZ, DF_FAKTOR_MAN, INFO1, INFO2, INFO3, INFO4, INFO5, SPERR_BESTAND, ABGEBENDE_NL, GEWICHT, VOLUMEN )
	SELECT DISTINCT
		'OI', NULL, NULL, NULL
		,p.ATYPO1
		,p.ATYPO2
		,NULL
		,NULL AS TECH_INDEX --p.TECH_INDEX
		,p.gr
		,(SELECT DISTINCT ggnr FROM IN_VARTGR WHERE ATYPO1 = p.ATYPO1) AS ggnr -- we cannot use the data from the left join with IN_VARTGR, as it returns NULL
		,NULL AS START_TERMIN_GR -- will be updated in SP_TIA_22_ARTICLES_UPDATE
		,NULL AS AUSLAUF_TERMIN_GR  -- will be updated in SP_TIA_22_ARTICLES_UPDATE
		,1 AS GR_STATUS
		, 0, 0, 0, 0, 0, 0, 0, NULL, 0, 0, 0, 0, NULL, NULL, NULL, NULL, NULL, 0, NULL, 0, 0
		FROM 
			IN_AUFPOS p
			JOIN IN_ARTIKEL a ON a.ATYPO1 = p.ATYPO1 AND a.ATYPO2 = p.ATYPO2
			LEFT JOIN IN_VARTGR g ON g.ATYPO1 = p.ATYPO1 AND g.ATYPO2 = p.ATYPO2 AND g.gr = p.gr
		WHERE 
			g.ATYPO1 IS NULL -- this gets us all the missing records in IN_VARTGR

	/*
	 * IN_LIEFVARTGR
	 */

	 -- TODO !!!!

	COMMIT TRANSACTION
END

GO
