/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2012 (11.0.3128)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [TIA]
GO
/****** Object:  StoredProcedure [dbo].[SP_TIA_99_INDEX_DROP]    Script Date: 04.09.2017 17:51:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_TIA_99_INDEX_DROP]
AS
BEGIN
SET NOCOUNT ON;


-- Drop primary keys and index

IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='PK_SIXH_AUFKOPF') IS NOT NULL			ALTER TABLE SPOT_SRC.dbo.SIXH_AUFKOPF DROP CONSTRAINT PK_SIXH_AUFKOPF;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_AUFKOPF_Art') IS NOT NULL		DROP INDEX IX_SIXH_AUFKOPF_Art ON SPOT_SRC.dbo.SIXH_AUFKOPF;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_AUFKOPF_KusNr') IS NOT NULL		DROP INDEX IX_SIXH_AUFKOPF_KusNr ON SPOT_SRC.dbo.SIXH_AUFKOPF;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_AUFKOPF_TapKey_Art') IS NOT NULL DROP INDEX IX_SIXH_AUFKOPF_TapKey_Art ON SPOT_SRC.dbo.SIXH_AUFKOPF;

IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='PK_SIXH_AUFPOSI') IS NOT NULL					ALTER TABLE SPOT_SRC.dbo.SIXH_AUFPOSI DROP CONSTRAINT PK_SIXH_AUFPOSI;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_AUFPOSI_Lagerort') IS NOT NULL			DROP INDEX IX_SIXH_AUFPOSI_Lagerort ON SPOT_SRC.dbo.SIXH_AUFPOSI;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_AUFPOSI_LiefTerm') IS NOT NULL			DROP INDEX IX_SIXH_AUFPOSI_LiefTerm ON SPOT_SRC.dbo.SIXH_AUFPOSI;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_AUFPOSI_TapKey_LiefTerm') IS NOT NULL	DROP INDEX IX_SIXH_AUFPOSI_TapKey_LiefTerm ON SPOT_SRC.dbo.SIXH_AUFPOSI;

IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='PK_SIXH_AUFGROESSE') IS NOT NULL		ALTER TABLE SPOT_SRC.dbo.SIXH_AUFGROESSE DROP CONSTRAINT PK_SIXH_AUFGROESSE;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_AUFGROESSE_Om') IS NOT NULL	DROP INDEX IX_SIXH_AUFGROESSE_Om ON SPOT_SRC.dbo.SIXH_AUFGROESSE;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_AUFGROESSE_Sm') IS NOT NULL	DROP INDEX IX_SIXH_AUFGROESSE_Sm ON SPOT_SRC.dbo.SIXH_AUFGROESSE;

IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='PK_SIXH_PAKOPF') IS NOT NULL			ALTER TABLE SPOT_SRC.dbo.SIXH_PAKOPF DROP CONSTRAINT PK_SIXH_PAKOPF;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='PK_SIXH_PAPOSI') IS NOT NULL			ALTER TABLE SPOT_SRC.dbo.SIXH_PAPOSI DROP CONSTRAINT PK_SIXH_PAPOSI;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='PK_SIXH_PAGROESSE') IS NOT NULL		ALTER TABLE SPOT_SRC.dbo.SIXH_PAGROESSE DROP CONSTRAINT PK_SIXH_PAGROESSE;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='PK_SIXH_PASTAT') IS NOT NULL			ALTER TABLE SPOT_SRC.dbo.SIXH_PASTAT DROP CONSTRAINT PK_SIXH_PASTAT;

IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='PK_SIXH_FELAGER') IS NOT NULL		ALTER TABLE SPOT_SRC.dbo.SIXH_FELAGER DROP CONSTRAINT PK_SIXH_FELAGER;

IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_TPSTEU_lfd') IS NOT NULL		DROP INDEX IX_SIXH_TPSTEU_lfd ON SPOT_SRC.dbo.SIXH_TPSTEU;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_TPSTEU_stwert') IS NOT NULL	DROP INDEX IX_SIXH_TPSTEU_stwert ON SPOT_SRC.dbo.SIXH_TPSTEU;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_TPSTEU_tanr') IS NOT NULL	DROP INDEX IX_SIXH_TPSTEU_tanr ON SPOT_SRC.dbo.SIXH_TPSTEU;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_TPSTEU_tapkey') IS NOT NULL	DROP INDEX IX_SIXH_TPSTEU_tapkey ON SPOT_SRC.dbo.SIXH_TPSTEU;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_TPSTEU_tpwert') IS NOT NULL	DROP INDEX IX_SIXH_TPSTEU_tpwert ON SPOT_SRC.dbo.SIXH_TPSTEU;

IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_TPTEXT_lfd') IS NOT NULL		DROP INDEX IX_SIXH_TPTEXT_lfd ON SPOT_SRC.dbo.SIXH_TPTEXT;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_TPTEXT_sprache') IS NOT NULL DROP INDEX IX_SIXH_TPTEXT_sprache ON SPOT_SRC.dbo.SIXH_TPTEXT;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_TPTEXT_tanr') IS NOT NULL	DROP INDEX IX_SIXH_TPTEXT_tanr ON SPOT_SRC.dbo.SIXH_TPTEXT;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_TPTEXT_tapkey') IS NOT NULL	DROP INDEX IX_SIXH_TPTEXT_tapkey ON SPOT_SRC.dbo.SIXH_TPTEXT;
IF (SELECT object_id FROM SPOT_SRC.sys.indexes WHERE name='IX_SIXH_TPTEXT_tpwert') IS NOT NULL	DROP INDEX IX_SIXH_TPTEXT_tpwert ON SPOT_SRC.dbo.SIXH_TPTEXT;


END


GO
